{% extends 'Header.html' %}
{% block Header %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-7 BC">
                        <!-- <div class="col-12 animate__animated animate__flash"><img src="assets/images/Group 248.png" alt="GCTA" id="logo">
                        </div> -->
                        <h6>TRANSFORMING THE TB RESPONSE – CAPACITY BUILDING OF COMMUNITIES TO BE CHANGE AGENTS TRAINING
                        </h6>
                        <p>The Change Agents Training aims to bring together affected community members from
                            inadequately served populations to discuss issues at the global, regional and country level
                            that are relevant to enable community-led TB response.
                            The training will also provide a valuable opportunity to the community members to build
                            their advocacy skills for future response to better health care. The community members will
                            use this platform to enhance their knowledge
                            on latest development on TB treatment regime, and access issues, gaps and challenges.</p>
                        <h6>GOAL</h6>
                        <p>To establish a group of effective Change Agents to advocate and support NTPs in finding the
                            missing people with TB, ensuring early detection, diagnosis and treatment initiation.</p>
                        <h6>TRAINING OBJECTIVES</h6>
                        <p>• To bring together community members including TB survivors, NGO staff, members from the key
                            population most vulnerable to TB and TB champions to discuss TB issues at the global,
                            regional and country level</p>
                        <p>• To provide training to community members on TB and advocacy</p>
                        <p>• To enhance community members’ knowledge on latest developments on TB treatment regime,
                            availability, gaps and challenges.</p>
                        <h6>TRAINING CONTENT</h6>
                        <p>The training will address three major themes under the following sections:</p>
                        <p>1. TB basics</p>
                        <p>2. Advocacy</p>
                        <p>3. Communication</p>
                        <h6>ABOUT GCTA</h6>
                        <p>The Global Coalition of TB Activists (GCTA) is a coalition of TB affected individuals
                            bringing the lived experience of TB to the global platforms towards a people-centered
                            rights-based response to TB. GCTA endeavors to bridge the
                            gap between civil society organizations and other stakeholders, while ensuring that
                            community is involved in all TB processes. Since its inception in October 2013, the GCTA has
                            contributed significantly to the global and regional
                            TB agenda through its network of activists, achieving a number of significant milestones
                            along the way in ensuring a person-centered rights-based TB response.</p>
                    </div>
                    <!-- ===================================================================================================================================================== -->
                    <div class="col-lg-5  F2">
                        <div class="col-lg-12  Login ">
                            <div class="col-12">
                                <center><img src="{{STATICURL}}/Group_248.png" alt="gcta" id="logo1"></center>

                            </div>
                            <div class="col-lg-12 mt-4  ">
                                <h6>REGISTER OR LOGIN TO ACCESS THE CHANGE AGENTS TRAINING</h6>
                                <div class="form-floating" id="uiline">
                                    <input id="userId" type="text" class="effect-1 Ui" placeholder="Username">
                                </div>
                                <div class="form-floating" id="uiline">
                                    <input id="password" type="Password" class="effect-1 Ui" placeholder="Password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4 d-flex justify-content-end Fp">
                                    <a href="Forgotpassword" id="log2" class="">Forgot Password</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                                    <button id="log">Login</button>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                                    <a href="RegisterPage" id="log2">Register</a>
                                </div>
                            </div>
                        </div>
                        <footer class="row SV">
                            <div class=" col-lg-8 col-md-7 col-sm-8 col-8 d-flex justify-content-end">
                                <p>Powered by Kavin Corporation</p>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-4 col-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="229.307" height="137.083"
                                    viewBox="0 0 229.307 137.083">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: #f2f2f2;
                                            }

                                            .b {
                                                fill: #fff;
                                            }

                                            .c {
                                                fill: #ccc;
                                            }

                                            .d {
                                                fill: #9cd1ef;
                                            }

                                            .e {
                                                fill: #ffb8b8;
                                            }

                                            .f {
                                                fill: #2f2e41;
                                            }

                                            .g {
                                                fill: #3f3d56;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a"
                                        d="M819.007,581.564a11.849,11.849,0,0,1-4.251-10.214,9.579,9.579,0,0,1,7.121-8.132,8.062,8.062,0,0,1,9.181,5.1c.628-7.076,1.352-14.448,5.114-20.474a21.683,21.683,0,0,1,15.7-10.059,19.455,19.455,0,0,1,17.114,6.986,17.656,17.656,0,0,1,2.171,18.178c-2.058,4.268-5.848,7.445-9.82,10.029a63.376,63.376,0,0,1-43.345,9.483Z"
                                        transform="translate(-643.444 -446.02)" />
                                    <path class="b"
                                        d="M910.745,545.6a104.575,104.575,0,0,0-30.727,41.548c-.293.718.873,1.031,1.163.321A103.412,103.412,0,0,1,911.6,546.456C912.2,545.966,911.343,545.117,910.745,545.6Z"
                                        transform="translate(-691.526 -451.751)" />
                                    <path class="a"
                                        d="M238.818,533.206a16.275,16.275,0,0,0,5.839-14.029c-.642-5.24-4.621-10.057-9.781-11.169s-11.043,1.967-12.61,7.009c-.863-9.719-1.857-19.845-7.024-28.121a29.782,29.782,0,0,0-21.565-13.816,26.721,26.721,0,0,0-23.507,9.6,24.251,24.251,0,0,0-2.982,24.968c2.826,5.863,8.032,10.226,13.487,13.775a87.047,87.047,0,0,0,59.535,13.024"
                                        transform="translate(-165 -398.337)" />
                                    <path class="b"
                                        d="M213.507,483.815a142.416,142.416,0,0,1,19.848,19.709,142.839,142.839,0,0,1,22.355,37.358c.4.986-1.2,1.416-1.6.44a142.034,142.034,0,0,0-41.777-56.336C211.509,484.313,212.687,483.147,213.507,483.815Z"
                                        transform="translate(-199.652 -406.208)" />
                                    <path class="a"
                                        d="M520.7,326.724H424.5V228.017a38.129,38.129,0,0,1,38.086-38.086h20.032A38.129,38.129,0,0,1,520.7,228.017Z"
                                        transform="translate(-356.103 -189.931)" />
                                    <path class="c"
                                        d="M500.672,326.727H424.5V228.02a37.791,37.791,0,0,1,7.273-22.389c.175-.238.349-.474.529-.707a38.078,38.078,0,0,1,8.106-7.868c.174-.127.349-.251.526-.375a38,38,0,0,1,8.3-4.338c.174-.066.352-.132.529-.2a37.962,37.962,0,0,1,8.2-1.934c.173-.024.351-.042.529-.061a38.556,38.556,0,0,1,8.2,0c.177.019.355.037.531.061a37.954,37.954,0,0,1,8.2,1.933c.177.063.355.13.529.2a37.9,37.9,0,0,1,8.2,4.274c.177.122.354.246.529.37a38.469,38.469,0,0,1,4.845,4.1,38.034,38.034,0,0,1,3.354,3.835c.179.232.354.467.529.706a37.792,37.792,0,0,1,7.274,22.389Z"
                                        transform="translate(-356.103 -189.934)" />
                                    <circle class="d" cx="4.217" cy="4.217" r="4.217"
                                        transform="translate(134.158 84.211)" />
                                    <path class="e" d="M581.275,472.959h-3.231L576.506,460.5h4.769Z"
                                        transform="translate(-424.556 -339.122)" />
                                    <path class="f"
                                        d="M562.619,504.28h6.232V508.2H558.695A3.924,3.924,0,0,1,562.619,504.28Z"
                                        transform="translate(-411.439 -371.366)" />
                                    <path class="e" d="M642.275,472.959h-3.231L637.506,460.5h4.769Z"
                                        transform="translate(-469.478 -339.122)" />
                                    <path class="f"
                                        d="M623.618,504.28h6.232V508.2H619.695A3.924,3.924,0,0,1,623.618,504.28Z"
                                        transform="translate(-456.361 -371.366)" />
                                    <path class="e"
                                        d="M696.732,432.342a2.832,2.832,0,0,1,1.189-4.176l10.985-30.276,5.405,2.95-12.542,28.932a2.847,2.847,0,0,1-5.036,2.569Z"
                                        transform="translate(-556.223 -343.078)" />
                                    <path class="e"
                                        d="M802.7,448.759a2.831,2.831,0,0,1-.763-4.274l-3.4-32.026,6.151.281,1.414,31.5a2.847,2.847,0,0,1-3.4,4.517Z"
                                        transform="translate(-631.552 -353.806)" />
                                    <circle class="e" cx="6.474" cy="6.474" r="6.474"
                                        transform="translate(154.86 36.257)" />
                                    <path class="d"
                                        d="M759.649,421.751H740.133l.023-.152c.035-.227,3.478-22.783.939-30.162a3.114,3.114,0,0,1,1.6-3.844h0c3.63-1.709,10.6-3.814,16.478,1.294a7.442,7.442,0,0,1,2.493,6.167Z"
                                        transform="translate(-588.544 -334.082)" />
                                    <path class="d"
                                        d="M729.8,408.2l-8.787-1.783,4.119-9.76a3.689,3.689,0,1,1,7.144,1.844Z"
                                        transform="translate(-574.467 -340.129)" />
                                    <path class="d"
                                        d="M795.372,413.415l-.528-12.109a3.722,3.722,0,1,1,7.271-1.258l1.986,11.314Z"
                                        transform="translate(-628.782 -342.038)" />
                                    <path class="f"
                                        d="M756.062,517.049c3.14,11.96,3.483,27.166,2.636,43.753l-4.217-.527-7.644-31.629L742.62,560.8l-4.744-.263c-1.417-17.4-2.8-32.344-.527-42.172Z"
                                        transform="translate(-585.607 -430.83)" />
                                    <path class="f"
                                        d="M759.655,330.633a2.091,2.091,0,0,1-3.608-1.162,2.126,2.126,0,0,1,0-.41,9.511,9.511,0,0,0,.423-2.307,1.211,1.211,0,0,0-.222-.566c-.962-1.289-3.221.576-4.13-.59-.557-.715.1-1.842-.33-2.641-.564-1.055-2.235-.535-3.283-1.113-1.166-.643-1.1-2.432-.329-3.519a5.536,5.536,0,0,1,4.2-2.137,11.259,11.259,0,0,1,4.742.925,9.477,9.477,0,0,1,4.481,3.107,7.585,7.585,0,0,1,.767,6.458A12.174,12.174,0,0,1,759.655,330.633Z"
                                        transform="translate(-594.056 -282.899)" />
                                    <path class="g"
                                        d="M460.4,707.82H265.811a.314.314,0,1,1,0-.628H460.4a.314.314,0,1,1,0,.628Z"
                                        transform="translate(-239.009 -570.857)" />
                                    <path class="b"
                                        d="M533.477,377.293H499.213A1.7,1.7,0,0,1,497.5,375.6v-76.48a1.7,1.7,0,0,1,1.713-1.691h34.264a1.7,1.7,0,0,1,1.713,1.691V375.6a1.7,1.7,0,0,1-1.713,1.691Z"
                                        transform="translate(-409.863 -269.097)" />
                                    <rect class="c" width="37.691" height="0.527"
                                        transform="translate(87.637 53.081)" />
                                    <rect class="c" width="37.691" height="0.527"
                                        transform="translate(87.769 83.157)" />
                                    <rect class="c" width="0.527" height="80.126"
                                        transform="translate(99.498 28.334)" />
                                    <rect class="c" width="0.527" height="80.126"
                                        transform="translate(112.677 28.334)" />
                                </svg>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- ============================================================================================================================================================================================================================================================= -->
    <script>
        function eraseText() {
            debugger;
            document.getElementById("userId").value = "";
            document.getElementById("password").value = "";
        }


        $("#log").click(function () {
            debugger;
            var text = $("#userId").val();
            var password = $("#password").val();

            if (text != "" && password != "") {
                $.ajax({
                    url: 'Login',
                    type: "POST",
                    data: {
                        userid: text
                    },
                    async: false,
                    beforeSend: function () {},
                    success: function (data) {
                        if (data == 'success') {
                            window.location.href = "HomePage";
                        } else {
                            window.location.href = "index";

                        }
                    },
                    error: function () {}
                });
            }

        });
    </script>
</body>

</html>
{% endblock %}