 <div class="col-lg-2 col-md-3 col-sm-12 HB2">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="HomePage"><img src="{{STATICURL}}/Vertical Line.png" class="vimg"> <img src="{{STATICURL}}/icon_home.png" class="himg">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_dashboard.png" class="simg">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_inbox.png" class="simg">Trainer’s Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_products.png" class="simg">Handouts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_Invoices.png" class="simg">Training Logs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_customers.png" class="simg">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="{{STATICURL}}/icon_chat-room.png" class="simg">Contact Us</a>
                            </li>
                        </ul>
</div>